body, html {
  background-color: #282c34;

}
.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.navContainer{
  display: flex;
  min-width: 100vw;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #464a52;
}

.title {
  text-decoration: none;
  color: #FFFFFF;
  font-size: calc(30px + 2vmin);
  margin-left: 3vw;
}

ul {
  list-style-type: none;
  padding: none;
  margin-left: auto;
  margin-right: 3vw;
}

.addRecipe {
  text-decoration: none;
  color: #FFFFFF;
  font-size: calc(20px + 2vmin);
  border: 1px solid #FFFFFF;
  border-radius: 10%;
  padding: 8px 15px;
  padding-top: 2px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.5);
  transition: all .2s ease-in-out;
}
.addRecipe:hover {
  color: #464a52;
  background-color: #FFFFFF;
  border: 1px solid #464a52;
  transform: scale(1.1);
  box-shadow: 6px 2px 6px 0px  rgba(0,0,0,0.7);
}

.card:hover, .arrow:hover{
  cursor: pointer;
}

.recipeContainer {
  margin:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recipeDetails {
  /* margin-left: calc(10px + 5vmin); */
  display: flex;
  align-items: center;
  max-width: 90%;
}
.arrow {
  position: absolute;
  display: inline-block;
  margin: 5px;
  
  /* set size */
  padding: 10px;
  
  /* set tickness */
  box-shadow: 5px -5px 0 0 tomato inset;
}

.arrow--left {
  transform: rotate(45deg);
}

.backButton-container {
  float: left;
  margin-left: 20px;
}
.backButton-container:hover {
  transform: scale(1.15);
  box-shadow: 6px 2px 6px 0px  rgba(0,0,0,0.7);
  margin-top: -3px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 100px 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  overflow:hidden;
  position:relative;
  padding: 20px;
  align-items: center;
  height: 15vh;
  background-color: #464a52;
  transition: all .2s ease-in-out;

} 
.card:hover {
  transform: scale(1.05);
  box-shadow: 6px 2px 6px 0px  rgba(0,0,0,0.7);

}
.card article {
  min-width: 0;
  margin: 5px;
}
.card img {
  max-width: 100%; 
  max-height: auto; 
  position: absolute;
  align-self: center;
  z-index: 0;
  filter: brightness(50%);
}

.recipeTitle{
  z-index: 1;
  margin-top: auto;
  margin-left: auto;
  margin-right: -10px;
  margin-bottom: -5px;
  text-shadow: 4px 4px 6px  rgba(0,0,0,1);
}
.recipeImage {
  max-width: 50%; 
  max-height: 300px; 
}
.recipeAddedDate {
  font-size: calc(5px + 1.5vmin);
  margin-block-start: .0;
  color: #ccc;
}

.card:hover > .recipeTitle {
  text-shadow: 4px 4px 4px  rgba(0,0,0,1);

}
.card:hover > img {
  filter: brightness(80%);
}
h3 {
  margin-block-start: 0em; 
  margin-block-end: 0em; 

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.editRecipeForm{
  width: 80vw;
}

.Input {
  width: 80vw;
  box-sizing: border-box;
  outline: none;
  color: #464a52;
  box-shadow: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
}
.searchBar {
  margin: calc(5px + 1vmin);
  border: none; 
  border-width: 0; 
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  /* background-color: #464a52; */
  background-color: #282c34;
  outline: 0;
  color: white;
} 
.searchBar::placeholder {
  color: #ccc;

}
.styleToolBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
}
.blockStyleToolbar{
  margin-bottom: 10px;
  /* width: 80vw; */
}
.editors {
  width: 80vw;
  box-sizing: border-box;
  outline: none;
  color: #464a52;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  text-align: left;
}
.recipeTitleInput {
  margin-top: 20px;
}
.recipeDetailsInput {
  margin-top: 30px;
  margin-bottom: -10px;
}

textarea {
  height: auto;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.switchRegisterLogin {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
  font-size: calc(10px + 1vmin);
}
.switchRegisterLogin:hover {
  color: rgba(255, 255, 255, 1);
}

.loginregisterTitle{
  margin-bottom: 0;
}

.or {
  margin: 0;
}

.InputElement:focus {
  background-color: #ccc;
}

.imageUrlInput {
  margin-top: 10px;
}

.button-container{
  /* position: fixed; */
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  /* padding-right: -10px; */
}

.photoUploadButton, .submitButton {
  box-sizing: border-box;
  outline: none;
  color: #464a52;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  margin: 10px;
  padding: 3px 5px;
  display: block;
  font-size: calc(10px + 1vmin);
  transition: all .2s ease-in-out;
}

.editButton, .saveButton, .deleteButton {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #464a52;
  font-size: calc(10px + 1vmin);
  border: 1px solid #FFFFFF;
  padding: 3px 5px;
  margin: 7px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.5);
  transition: all .2s ease-in-out;
}
.photoUploadButton:hover, .submitButton:hover, .editButton:hover, .saveButton:hover, .deleteButton:hover {
  color: #464a52;
  background-color: #FFFFFF;
  border: 1px solid #464a52;
  transform: scale(1.1);
  box-shadow: 6px 2px 6px 0px  rgba(0,0,0,0.7);
}
/* .editButton, .saveButton, .deleteButton {
  box-sizing: border-box;
  outline: none;
  color: #464a52;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  margin: 7px;
  padding: 3px 5px;
  font-size: calc(10px + 1vmin);
  transition: all .2s ease-in-out;
  max-width: 180px;
} */
.saveButtonContainer {
  display: flex;
  /* float: right; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.saveButton{
  margin-bottom: 14px;
}

/* .photoUploadButton:hover, .submitButton:hover, .editButton:hover, .saveButton:hover, .deleteButton:hover {
  transform: scale(1.05);
  box-shadow: 6px 2px 6px 0px  rgba(0,0,0,0.7);
} */


.pulse {
	color: white;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
	animation: pulse 1.5s infinite;
}
.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}




