.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recipeContainer:hover, .arrow:hover{
  cursor: pointer;
}


.arrow {
  position: relative;
  display: inline-block;
  margin: 5px;
  
  /* set size */
  padding: 10px;
  
  /* set tickness */
  box-shadow: 5px -5px 0 0 tomato inset;
}

.arrow--left {
  transform: rotate(45deg);
}